@import "tailwindcss";

:root {
  --navy-dark: #020817;
  --davy-alternative: #0a192f;
  --primary-blue: #0066cc;
  --blue-tint: #f0f8ff;
}

@theme inline {
  --color-navy-dark: var(--navy-dark);
  --color-davy-alternative: var(--davy-alternative);
  --color-primary-blue: var(--primary-blue);
  --color-blue-tint: var(--blue-tint);
  --font-poppins: var(--font-poppins);
}

html {
  overflow-x: hidden;
}

/*selector untuk memaksa semua halaman menggunakan font poppins (by tailwind) */
* {
  @apply font-poppins;
}