@import "tailwindcss";

:root {
  --navy-dark: #020817;
  --davy-alternative: #0a192f;
  --primary-blue: #0066cc;
  --blue-tint: #f0f8ff;
}

@theme inline {
  --color-navy-dark: var(--navy-dark);
  --color-davy-alternative: var(--davy-alternative);
  --color-primary-blue: var(--primary-blue);
  --color-blue-tint: var(--blue-tint);
  --font-poppins: var(--font-poppins);
}

html {
  overflow-x: hidden;
}

/*selector untuk memaksa semua halaman menggunakan font poppins (by tailwind) */
* {
  @apply font-poppins;
}

/* INPUT GROUP */
.input-group {
  @apply mb-5;
}

.input-group label {
  @apply block text-xs mb-1;
}

.input-group input,
.input-group textarea {
  @apply px-4 py-2.5 bg-gray-100 w-full focus:border focus:border-gray-400 outline-none text-sm;
}